process {
    withLabel: big_mem {
    executor = 'slurm'
    clusterOptions = "--account=none --time=15:00 --mem=7G --partition=nodes --nodes=1 --ntasks-per-node=1 --cpus-per-task=1 --output=/mnt/scratch/users/2333157o/synthetic-rsiena-pipeline/JobOut/%j.out"
  }
    withLabel: small_time_cpus {
    executor = 'slurm'
    time   = { 8.h   * task.attempt }
    clusterOptions = "--account=none --mem=20G --partition=nodes --nodes=1 --cpus-per-task=22 --output=/mnt/scratch/users/2333157o/synthetic-rsiena-pipeline/JobOut/%j.out"
  }
    withLabel: big_time_cpus {
    executor = 'slurm'
    clusterOptions = "--account=none --time=10:00 --mem=1G --partition=nodes --nodes=1 --ntasks-per-node=24 --cpus-per-task=10"
  }
}
