work/*
*.RData
*.Ruserdata
*.Rhistory
*.Rproj.user
*.RDS
results/siena_fit/*
out/*
*.sif
*.img
apptainer/*
*.log
.nextflow.log*
.nextflow/*

!work/.gitkeep 
!out/.gitkeep 
!results/.gitkeep 
!results/siena_fit/.gitkeep 
!apptainer/.gitkeep

!.nextflow/.gitkeep 
!.nextflow/cache/.gitkeep 
