
env {
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

includeConfig "params.config"


process {
  errorStrategy = 'ignore'
}

profiles {
  awsbatch {
    includeConfig 'conf/awsbatch.config'
  }
  local {
    includeConfig 'conf/local.config'
    docker.enabled = true
    process.container = 'omiridoue/siena_r:0.8'
  }
  sge {
    includeConfig 'conf/sge.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
    apptainer.enabled = true

    apptainer.cacheDir = "apptainer"
    apptainer.autoMounts = true

    process.executor = 'slurm'
    process.container = 'omiridoue/siena_r:0.8'
  }
  ci {
    includeConfig 'conf/ci.config'
  }
}

// Optional set up email notifications
// Please contact your system administrator if your require further support

/*
mail {
  from = <email>
  smtp.host = 'smtp.gmail.com'
  smtp.port = 587
  smtp.user = <username>
  smtp.password = <password>
  smtp.ssl.protocols = 'TLSv1.2'
  smtp.auth = true
  smtp.starttls.enable = true
  smtp.starttls.required = true
}

*/

/*
plugins {
  id 'nf-co2footprint@1.0.0-beta' # calculates the CO2 footprint of the workflow
}
*/

timeline {
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/report.html"
}

//Optional output a diagram of the workflow
/*
// This will only work if you have graphviz installed
dag {
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/pipeline.png"
}
*/ 

timeline {
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/report.html"
}
