
env {
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

includeConfig "params.config"

/*
process.container = 'apptainer/omiridoue-siena_r-0.8.img'

apptainer.cacheDir = "apptainer"
apptainer.enabled = true

apptainer.autoMounts = true

*/

docker.enabled = true

process {
  errorStrategy = 'ignore'
}

profiles {
  awsbatch {
    includeConfig 'conf/awsbatch.config'
  }
  local {
    includeConfig 'conf/local.config'
    process.container = 'omiridoue/siena_r:0.8'
  }
  sge {
    includeConfig 'conf/sge.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
    process.executor = 'slurm'
    process.container = 'omiridoue/siena_r:0.8'
  }
  ci {
    includeConfig 'conf/ci.config'
  }
}
/*
plugins {
  id 'nf-co2footprint@1.0.0-beta'
}
*/
/*
//'omiridoue/siena_r:0.8' # can use this instead of the apptainer

mail {
  from = 'eleni4960@gmail.com'
  smtp.host = 'smtp.gmail.com'
  smtp.port = 587
  smtp.user = 'eleni4960@gmail.com'
  smtp.password = 'mbvawskuhoosxlpc'
  smtp.ssl.protocols = 'TLSv1.2'
  smtp.auth = true
  smtp.starttls.enable = true
  smtp.starttls.required = true
}


env {
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

includeConfig "params.config"

/*
process.container = 'apptainer/omiridoue-siena_r-0.8.img'

apptainer.cacheDir = "apptainer"
apptainer.enabled = true

apptainer.autoMounts = true

*/

docker.enabled = true

process {
  errorStrategy = 'ignore'
}

profiles {
  awsbatch {
    includeConfig 'conf/awsbatch.config'
  }
  local {
    includeConfig 'conf/local.config'
    process.container = 'omiridoue/siena_r:0.8'
  }
  sge {
    includeConfig 'conf/sge.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
    process.executor = 'slurm'
    process.container = 'omiridoue/siena_r:0.8'
  }
  ci {
    includeConfig 'conf/ci.config'
  }
}
/*
plugins {
  id 'nf-co2footprint@1.0.0-beta'
}
*/
/*
//'omiridoue/siena_r:0.8' # can use this instead of the apptainer

mail {
  from = 'eleni4960@gmail.com'
  smtp.host = 'smtp.gmail.com'
  smtp.port = 587
  smtp.user = 'eleni4960@gmail.com'
  smtp.password = 'mbvawskuhoosxlpc'
  smtp.ssl.protocols = 'TLSv1.2'
  smtp.auth = true
  smtp.starttls.enable = true
  smtp.starttls.required = true
}

*/
timeline {
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/timeline.html"
}

report {
  // there is some isse with ps not being available in the container So I wanted to ask if you see the possibility to include ps in your docker container so that it can be used with nextflow (had only a problem with missing ps, but all others seem available, i.e. awk, date, grep, egrep, sed, tail, tee).
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/report.html"
}


dag {
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/siena_meta_network.png"
}

timeline {
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/timeline.html"
}

report {
  // there is some isse with ps not being available in the container So I wanted to ask if you see the possibility to include ps in your docker container so that it can be used with nextflow (had only a problem with missing ps, but all others seem available, i.e. awk, date, grep, egrep, sed, tail, tee).
  enabled = true
  overwrite = true
  file = "${projectDir}/docs/report.html"
}
